@using EntityModels
@model IEnumerable<ViewModels.CustomerViewModel>
@{
    ViewBag.Title = "NhanVien";
    Layout = "~/Views/Shared/_Layout_Manager.cshtml";
    ViewBag.Quantity++;
}
<h2>Khách hàng</h2>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>STT</th>
            <th>Mã số khách hàng</th>
            <th>Họ tên</th>
            <th>Ngày sinh</th>
            <th>Địa chỉ</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-right">0@(ViewBag.Quantity++)</td>
                <td class="text-center">@Html.DisplayFor(p => item.MaKhachHang)</td>
                <td>@Html.DisplayFor(p => item.HoTenKhachHang)</td>
                <td class="text-center">@Html.DisplayFor(p => item.NgaySinh)</td>
                <td class="text-center">@Html.DisplayFor(p => item.DiaChi)</td>
                <td>
                    <a href="/Student/Edit/@item.MaKhachHang" class="btn btn-danger" style="margin-right:10px">Sửa</a>
                    <a href="/Student/Delete/@item.MaKhachHang" id="delete" class="btn btn-info">Xóa</a>
                </td>
                @*<td>
                        <a href="/Student/Edit/@item.MaKhachHang" class="btn btn-danger" style="margin-right:10px">Sửa</a>
                        <a href="/Student/Delete/@item.MaKhachHang" id="delete" class="btn btn-info">Xóa</a>
                    </td>*@
            </tr>
        }
    </tbody>
</table>
<a href="Create" class="btn btn-warning">Thêm</a>

@*@section scripts
{
    <script>
    $(document).ready(
        $("#delete").click(function () {
            alert("Bạn chắc chắn xóa?");
            this.attributes("href", "")
        })
    )
    </script>
}*@



