@model ViewModels.AccountViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_SignIn.cshtml";
}
@using (Html.BeginForm())
{
    <form class="form-login" style="opacity:0.9">
        <h2 class="form-login-heading">đăng nhập</h2>
        <div class="login-wrap">
            @*<input type="text" class="form-control" placeholder="Tên đăng nhập" autofocus>*@
            @Html.LabelFor(model => model.TenQuanLy, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.TenQuanLy, new { htmlAttributes = new { @class = "form-control" } })
            <br>
            @*  <input type="password" class="form-control" placeholder="Mật khẩu">*@
            @Html.LabelFor(model => model.PassQuanLy, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.PassQuanLy, new { htmlAttributes = new { @class = "form-control" } })

            <label class="checkbox">
                <input type="checkbox" value="remember-me"> Ghi nhớ đăng nhập
                <span class="pull-right">
                    <a data-toggle="modal" href="login.html#myModal"> Quên mật khẩu ?</a>
                </span>
            </label>
            <button class="btn btn-theme btn-block" type="submit"><i class="fa fa-lock"></i> ĐĂNG NHẬP</button>
            <hr>


        </div>
        <!-- Modal -->
        @*<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Forgot Password ?</h4>
                        </div>
                        <div class="modal-body">
                            <p>Enter your e-mail address below to reset your password.</p>
                            <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">
                        </div>
                        <div class="modal-footer">
                            <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                            <button class="btn btn-theme" type="button">Submit</button>
                        </div>
                    </div>
                </div>
            </div>*@
        <!-- modal -->
    </form>

}

