<!DOCTYPE html>
<html lang="en" style="height:100%">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <title>SuperXe - Đăng nhập </title>

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Bootstrap core CSS -->
    <link href="~/Assets/libManager/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!--external css-->
    <link href="~/Assets/libManager/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/Assets/cssManager/style-responsive.css" rel="stylesheet" />
    <link href="~/Assets/cssManager/style.css" rel="stylesheet" />

    <!-- =======================================================
      Template Name: Dashio
      Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
      Author: TemplateMag.com
      License: https://templatemag.com/license/
    ======================================================= -->
</head>

<body style="height:100%">
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <div id="login-page" style="background-image:url('../../Assets/imagasManager/mercedes_benz_s_63_amg_4k-HD.jpg'); background-size:cover; height:100%">
        <div class="container" >
            @RenderBody()
        </div>
    </div>
    <!-- js placed at the end of the document so the pages load faster -->
    <script src="~/Assets/libManager/jquery/jquery.min.js"></script>
    <script src="~/Assets/libManager/bootstrap/js/bootstrap.min.js"></script>
    <!--BACKSTRETCH-->
    <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
    <script type="text/javascript" src="~/Assets/libManager/jquery.backstretch.min.js"></script>
    <script>
        $.backstretch("", {
            speed: 500
        });
    </script>
</body>

</html>

